* {
  box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding:0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }

.coloured{
    background-color:rgb(253, 253, 42);
    color:#555;
  }
  
  input:focus {
    border: solid 2px #555;
    transition: all .3s ease-in-out;
  }